<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110222787765-miht095d2122gvq20o7g0lmvpial4a5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110222787765-miht095d2122gvq20o7g0lmvpial4a5s</string>
	<key>API_KEY</key>
	<string>AIzaSyAkzcG-kZtF-WI2MwqC9ds9CGJy9snUvq4</string>
	<key>GCM_SENDER_ID</key>
	<string>110222787765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-327ef</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-327ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110222787765:ios:61f93bd54b016f6156aafc</string>
</dict>
</plist>